<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tab Archive</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <article class="pa3 pa5-ns">
      <h1 class="f3 f1-m f-headline-l">Tab Archive</h1>
      <p class="measure lh-copy">
      Tab Archive closes all of your tabs and uploads them to the cloud!
      </p>
    </article>

    <article class="pa3 pa5-ns">
      <h2 class="" id="privacy">Privacy Policy</h1>
      <p class="measure lh-copy">
      We use your Google account ID to store your tab URLs and titles. We will never share this data with anyone.
      </p>
    </article>
  </body>
</html>
